# Python cache
__pycache__/
*.py[cod]

# Virtual Environment
myenv/

# Environment Variables
.env
.env.*

# VS Code / IDE
.vscode/
.idea/

# Logs
*.log

# Pytest / Coverage
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Build files
build/
dist/
*.egg-info/
.eggs/

# SQLite Database
*.db
*.sqlite3

# OS Files
.DS_Store
Thumbs.db

# FastAPI / Process files
*.pid

# Ignore tree.py
tree.py